.text-input {
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  color: #484848;
  font-size: 19px;
  font-weight: 200;
  line-height: 24px;
  padding: 11px 11px;
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}